{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Change your password{% endblock title %}

{% block content %}

	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<h2 class="mb-3 text-center">Change your password</h2>
			<form method="post">
				{% csrf_token %}
				{% bootstrap_form form %}
				<div class=text-center>
					{% bootstrap_button button_type="submit" content="Change" %}
				</div>
			</form>
		</div>
	</div>

{% endblock content %}